Repository AlexSergey/koa-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:package, npm run lint:ts, prettier --write, eslint --fix

fix: lint-staged
  .lintstagedrc.js
  .lintstagedrc.json
Due: none

fix: lint-staged
  .lintstagedrc.js
Due: none

fix: update
  tsconfig.json
Due: none

fix: fix eslint
  .eslintrc.js
Due: none

fix: update logging system
  package-lock.json
  package.json
  prisma/seed.ts
  src/app/app.component.ts
  src/app/app.di-bindings.ts
  src/app/app.di-types.ts
  src/boundaries/framework/framework.service.ts
  src/boundaries/http/http.service.ts
  src/config/config.service.ts
  src/database/database.service.ts
  src/errors/error-handler.middleware.ts
  src/errors/error-types/common/proxy.error.ts
  src/errors/error-types/index.ts
  src/features/users/controllers/users.controller.ts
  src/features/users/services/users.service.spec.ts
  src/features/users/services/users.service.ts
  src/guards/auth.guard.ts
  src/logger/index.ts
  src/logger/logger.service.interface.ts
  src/logger/logger.service.ts
  types/custom.d.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: node 16 support
  .nvmrc
  jest.config.ts
  tsconfig.json
Due: none

fix: fix e2e config
  jest.e2e.config.ts
Due: none

feat: adapt to v18 node
  .commitlintrc.cjs
  .eslintrc.cjs
  .eslintrc.js
  .lintstagedrc.cjs
  .nvmrc
  jest.config.ts
  jest.e2e.config.ts
  nodemon.json
  package-lock.json
  package.json
  prisma/seed.ts
  src/app/app.component.ts
  src/app/app.di-bindings.ts
  src/app/app.di-container.ts
  src/app/index.ts
  src/boundaries/framework/framework.service.interface.ts
  src/boundaries/framework/framework.service.ts
  src/boundaries/http/http.service.ts
  src/config/config.service.ts
  src/database/database.service.ts
  src/errors/error-handler.middleware.ts
  src/errors/error-types/users/user-already-exists.error.ts
  src/features/users/controllers/users.controller.ts
  src/features/users/repositories/users.repository.ts
  src/features/users/services/auth.service.ts
  src/features/users/services/users.service.spec.ts
  src/features/users/services/users.service.ts
  src/guards/auth.guard.ts
  src/index.ts
  src/logger/index.ts
  src/middlewares/validate.middleware.ts
  swagger.generate.ts
  test/users.e2e-spec.ts
  tsconfig.json
  tsconfig.prod.json
  types/custom.d.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: adapt to v18
  jest.config.ts
  jest.e2e.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npm run format:package

fix: package json fix
  package-lock.json
  package.json
Due: npm run format:package

fix: unit tests
  jest.config.ts
  package-lock.json
  package.json
  src/features/users/services/users.service.spec.ts
  tsconfig.json
Due: npm run format:package, prettier --write, eslint --fix

fix: errors stack trace fix
  src/errors/error-types/access/incorrect-access.error.ts
  src/errors/error-types/auth/expired-token.error.ts
  src/errors/error-types/auth/unauthorized.error.ts
  src/errors/error-types/auth/wrong-password.error.ts
  src/errors/error-types/comments/comment-not-found.error.ts
  src/errors/error-types/common/internal.error.ts
  src/errors/error-types/common/not-found.error.ts
  src/errors/error-types/file/bad-file-format.error.ts
  src/errors/error-types/file/multer.error.ts
  src/errors/error-types/network/bad-request.error.ts
  src/errors/error-types/posts/post-not-found.error.ts
  src/errors/error-types/users/user-already-exists.error.ts
  src/errors/error-types/users/user-not-found.error.ts
  src/errors/error-types/validation/validation.error.ts
Due: prettier --write, eslint --fix

feat: koa-helmet added
  package-lock.json
  package.json
  src/boundaries/framework/framework.service.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: add sonarjs
  .eslintrc.cjs
  package-lock.json
  package.json
  src/config/config.service.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: eslint 9 upgrade
  .eslintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.cjs
  .nvmrc
  eslint.config.mjs
  package-lock.json
  package.json
  prisma/seed.ts
  src/boundaries/framework/framework.service.interface.ts
  src/boundaries/framework/framework.service.ts
  src/boundaries/http/http.service.interface.ts
  src/boundaries/http/http.service.ts
  src/config/config.service.ts
  src/errors/common/base.error.ts
  src/errors/error-types/index.ts
  src/errors/index.ts
  src/features/users/entities/user.entity.ts
  src/features/users/repositories/users.repository.interface.ts
  src/features/users/repositories/users.repository.ts
  src/features/users/services/users.service.interface.ts
  src/features/users/services/users.service.spec.ts
  src/features/users/services/users.service.ts
  src/guards/auth.guard.ts
  src/index.ts
  src/libs/router/bind.ts
  src/libs/router/controller.ts
  src/libs/router/index.ts
  src/libs/router/router.factory.ts
  src/libs/router/router.store.ts
  src/libs/router/types.ts
  src/logger/index.ts
  swagger.generate.ts
  test/users.e2e-spec.ts
Due: npm run format:package, prettier --write, eslint --fix

fix: fix eslint configuration
  eslint.config.mjs
  package-lock.json
  package.json
  prisma/seed.ts
  src/features/users/services/users.service.spec.ts
  test/users.e2e-spec.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: drop mandatory I prefix for interfaces
  eslint.config.mjs
Due: none

feat: update eslint config
  eslint.config.mjs
  src/app/app.component.ts
Due: prettier --write, eslint --fix

feat: add dockerfile
  Dockerfile
  README.md
  package-lock.json
  package.json
Due: npm run format:package, prettier --write

feat: change inversify to friendly-di
  package-lock.json
  package.json
  prisma/seed.ts
  rest-client/users.http
  src/app/app.component.ts
  src/app/app.di-bindings.ts
  src/app/app.di-container.ts
  src/app/app.di-types.ts
  src/boundaries/framework/framework.service.interface.ts
  src/boundaries/framework/framework.service.ts
  src/boundaries/http/http.service.interface.ts
  src/boundaries/http/http.service.ts
  src/common/classes/base.controller.ts
  src/config/config.service.interface.ts
  src/config/config.service.ts
  src/database/database.service.interface.ts
  src/database/database.service.ts
  src/features/users/controllers/users.controller.interface.ts
  src/features/users/controllers/users.controller.ts
  src/features/users/di-bindings.ts
  src/features/users/repositories/users.repository.interface.ts
  src/features/users/repositories/users.repository.ts
  src/features/users/services/auth.service.interface.ts
  src/features/users/services/auth.service.ts
  src/features/users/services/users.service.interface.ts
  src/features/users/services/users.service.spec.ts
  src/features/users/services/users.service.ts
  src/features/users/users.di-types.ts
  src/index.ts
  test/users.e2e-spec.ts
Due: npm run format:package, prettier --write, eslint --fix

chore: update perfectionist
  .lintstagedrc.cjs
  package-lock.json
  package.json
  prisma/seed.ts
  src/boundaries/framework/framework.service.ts
  src/features/users/controllers/users.controller.ts
  src/features/users/entities/user.entity.ts
  src/features/users/services/users.service.spec.ts
  src/libs/router/types.ts
Due: npm run format:package, prettier --write, eslint --fix

feat: drop unicorn
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package

feat: replace sort-package-json to eslint plugin
  .lintstagedrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run format:package

Path conditions:
  npm run format:package: any of: package.json
  npm run lint:ts: any of: src/**/*.{ts}
  prettier --write: ((((any of: src/**/*.{ts,json}) or (any of: test/**/*.{ts,json})) or (any of: prisma/**/*.{ts,json})) or (any of: types/**/*.{ts,json})) or (any of: *.md)
  eslint --fix: (((any of: src/**/*.{ts,json}) or (any of: test/**/*.{ts,json})) or (any of: prisma/**/*.{ts,json})) or (any of: types/**/*.{ts,json})
